<ion-view view-title="Om Gastronomo">
  <ion-content class="padding">
    <h2 class="title title-center padding">{{title}}</h2>

    <img src="img/LOGO_DARK.jpg" alt="Gastronomo Logo" style="width: 100%; margin: 0 auto;" />

    <div ng-bind-html="body"></div>
    <br>

    <!--<h4 class="title title-left">Nyheder</h4>-->

    <!--<div class="row itemwrap" ng-repeat="post in feed">-->
      <!--<div class="col-25">-->
        <!--<img ng-src="{{picture}}" alt="placeholder" class="img-responsive">-->
      <!--</div>-->
      <!--<div class="col-75">-->
        <!--<p>-->
          <!--{{post.message}}-->
        <!--</p>-->
        <!--<p><a ng-href="{{link}}" class="readmore balanced">Læs Mere <i class="icon ion-ios-arrow-forward"></i><i class="icon ion-ios-arrow-forward"></i></a></p>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
