<ion-view view-title="Om Gastronomo">
  <ion-content class="padding">
    <h2 class="title title-center padding">Om Gastronomo</h2>

    <img src="../img/LOGO_DARK.jpg" alt="Gastronomo Logo" style="width: 100%; margin: 0 auto;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut urna vel metus consequat pellentesque. Integer rutrum efficitur metus a ornare. Morbi interdum mattis finibus. Proin ac elit consequat, tempus risus vitae, iaculis augue. Maecenas a tincidunt mauris, id mattis sem.
    </p>


    <h4 class="title title-left">Facebook feed</h4>
    <!-- itemwrap start -->
    <div class="row itemwrap">
      <div class="col-25">
        <img src="http://placehold.it/150x250" alt="placeholder" class="img-responsive">
      </div>
      <div class="col-75">
        <h5>Nyhed 1</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut urna vel metus consequat pellentesque.
        </p>
        <p><a href="#" class="readmore balanced">Læs Mere <i class="icon ion-ios-arrow-forward"></i><i class="icon ion-ios-arrow-forward"></i></a></p>
      </div>
    </div>
    <!-- itemwrap end -->
    <!-- itemwrap start -->
    <div class="row itemwrap">
      <div class="col-25">
        <img src="http://placehold.it/150x250" alt="placeholder" class="img-responsive">
      </div>
      <div class="col-75">
        <h5>Nyhed 1</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut urna vel metus consequat pellentesque.
        </p>
        <p><a href="#" class="readmore balanced">Læs Mere <i class="icon ion-ios-arrow-forward"></i><i class="icon ion-ios-arrow-forward"></i></a></p>
      </div>
    </div>
    <!-- itemwrap end -->
    <!-- itemwrap start -->
    <div class="row itemwrap">
      <div class="col-25">
        <img src="http://placehold.it/150x250" alt="placeholder" class="img-responsive">
      </div>
      <div class="col-75">
        <h5>Nyhed 1</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut urna vel metus consequat pellentesque.
        </p>
        <p><a href="#" class="readmore balanced">Læs Mere <i class="icon ion-ios-arrow-forward"></i><i class="icon ion-ios-arrow-forward"></i></a></p>
      </div>
    </div>
    <!-- itemwrap end -->
  </ion-content>
</ion-view>
