<ion-view view-title="Kontakt">
  <ion-content class="padding-vertical">
    <h2 class="title title-center padding">{{title}}</h2>

    <div ng-bind-html="body"></div>
    <br>

    <form action="">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fulde Navn</span>
          <input type="text" ng-model="contactname" placeholder="John Doe">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="contactmail" placeholder="john@doe.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Besked</span>
          <textarea placeholder="Besked" ng-model="contactmsg"  style="resize: vertical;"></textarea>
        </label>
      </div>
      <div class="padding">
        <button ng-submit="sendMail()" class="button button-block button-balanced"><i class="icon ion-ios-paperplane"></i> Send Besked</button>
      </div>
    </form>

  </ion-content>
</ion-view>
