<ion-view view-title="Kontakt">
  <ion-content class="padding-vertical">
    <h2 class="title title-center padding">{{title}}</h2>

    <div ng-bind-html="body" class="padding"></div>

    <div class="padding contactlist">
      <ion-list>
        <ion-item><div class="button button-block" style="margin-top: 0; margin-bottom:5px;"><i class="icon ion-ios-home"></i> {{info.street}}, {{info.zip}} </div></ion-item>
        <ion-item><a href="mailto:{{info.email}}" class="button button-block" style="margin-top: 0; margin-bottom:5px;"><i class="icon ion-ios-email"></i> {{info.email}}</a></ion-item>
        <ion-item><a href="tel:{{info.phone}}" class="button button-block" style="margin-top: 0; margin-bottom:5px;"><i class="icon ion-ios-telephone"></i> {{info.phone}}</a></ion-item>
        <!--<ion-item><i class="icon ion-ios-checkmark"></i> CVR her</ion-item>-->
      </ion-list>
    </div>

    <div class="bar bar-error bar-assertive" ng-if="error"><p>{{error}}</p></div>
    <div class="bar bar-error bar-positive" ng-if="msg"><p>{{msg}}</p></div>

    <form action="" ng-submit="sendMail()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fulde Navn</span>
          <input type="text" ng-model="contact.name" placeholder="John Doe">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="contact.mail" placeholder="john@doe.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Besked</span>
          <textarea placeholder="Besked" ng-model="contact.msg" style="resize: vertical;"></textarea>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced"><i class="icon ion-ios-paperplane"></i> Send Besked</button>
      </div>
    </form>

  </ion-content>
</ion-view>
