<ion-view view-title="Menukort">
  <ion-content class="padding-vertical menu-page">
    <h2 class="title title-center padding-vertical">Menukort</h2>

    <div class="padding" style="">

    <div ng-repeat="(key, type) in types">

        <h2>{{key | capitalize}}</h2>

        <div class="row itemwrap" ng-repeat="item in type">
            <div class="col-50">
                <img ng-src="{{item.thumb}}" alt="placeholder" class="img-responsive">
            </div>
            <div class="col-50">
                <h5>{{item.title}}</h5>
                <p>{{item.body}}</p>
                <p ng-bind-html="item.price"></p>
            </div>
        </div>

    </div>



    </div>
  </ion-content>
</ion-view>
