<ion-view view-title="Om Gastronomo">
  <ion-content class="padding-vertical">
    <h2 class="title title-center padding">{{title}}</h2>

    <img src="img/LOGO_DARK.jpg" alt="Gastronomo Logo" style="width: 100%; margin: 0 auto;" />

    <div class="row">
      <div class="col">
        <a class="button button-block icon-left ion-fork button-balanced" href="#/tab/menu">
          Se Menukort
        </a>
      </div>
      <div class="col">
        <a class="button button-block icon-left ion-ios-cart button-energized" onclick="window.open('http://api.casperschultz.info/bestil-mad/', '_blank')">
          Bestil Mad
        </a>
      </div>
    </div>

    <div ng-bind-html="body"></div>
    <br>

    <div class="padding">
      <h4 class="title title-left">Nyheder</h4>
      <div class="row itemwrap facebook" ng-repeat="post in feed">
        <div class="col-25">
          <img ng-src="{{picture}}" alt="placeholder" class="img-responsive">
        </div>
        <div class="col-75 padding-horizontal">
          <p>
            {{post.message}}
          </p>
          <p><a ng-href="{{link}}" class="readmore balanced">Læs Mere <i class="icon ion-ios-arrow-forward"></i><i class="icon ion-ios-arrow-forward"></i></a></p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
