<ion-view view-title="Menukort">
  <ion-content class="padding-vertical menu-page">
    <h2 class="title title-center padding-vertical">Menukort</h2>

    <div class="padding" style="">
      <!-- itemwrap start -->
      <div class="row itemwrap">
          <div class="col-50">
            <img src="http://placehold.it/150x150" alt="placeholder" class="img-responsive">
          </div>
          <div class="col-50">
            <h5>Lorem Ipsum</h5>
            <p>
              Lorem, Ipsum, Curry, Bacon, Chicke, Kebab, Sauce, Rise and Soya.
            </p>
            <p><span class="price">109,-</span></p>
          </div>
      </div>
      <!-- itemwrap end -->
      <!-- itemwrap start -->
      <div class="row itemwrap">
          <div class="col-50">
            <img src="http://placehold.it/150x150" alt="placeholder" class="img-responsive">
          </div>
          <div class="col-50">
            <h5>Lorem Ipsum</h5>
            <p>
              Lorem, Ipsum, Curry, Bacon, Chicke, Kebab, Sauce, Rise and Soya.
            </p>
            <p><span class="price">109,-</span></p>
          </div>
      </div>
      <!-- itemwrap end -->
      <!-- itemwrap start -->
      <div class="row itemwrap">
          <div class="col-50">
            <img src="http://placehold.it/150x150" alt="placeholder" class="img-responsive">
          </div>
          <div class="col-50">
            <h5>Lorem Ipsum</h5>
            <p>
              Lorem, Ipsum, Curry, Bacon, Chicke, Kebab, Sauce, Rise and Soya.
            </p>
            <p><span class="price">109,-</span></p>
          </div>
      </div>
      <!-- itemwrap end -->
      <!-- itemwrap start -->
      <div class="row itemwrap">
          <div class="col-50">
            <img src="http://placehold.it/150x150" alt="placeholder" class="img-responsive">
          </div>
          <div class="col-50">
            <h5>Lorem Ipsum</h5>
            <p>
              Lorem, Ipsum, Curry, Bacon, Chicke, Kebab, Sauce, Rise and Soya.
            </p>
            <p><span class="price">109,-</span></p>
          </div>
      </div>
      <!-- itemwrap end -->
      <!-- itemwrap start -->
      <div class="row itemwrap">
          <div class="col-50">
            <img src="http://placehold.it/150x150" alt="placeholder" class="img-responsive">
          </div>
          <div class="col-50">
            <h5>Lorem Ipsum</h5>
            <p>
              Lorem, Ipsum, Curry, Bacon, Chicke, Kebab, Sauce, Rise and Soya.
            </p>
            <p><span class="price">109,-</span></p>
          </div>
      </div>
      <!-- itemwrap end -->
    </div>
  </ion-content>
</ion-view>
