<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-bottom tabs-icon-top tabs-dark tabs-color-active-balanced tabs-color-light">
  <div class="tabs-bottom tabs-icon-top tabs-dark tabs-color-active-balanced tabs-color-light">
    <!-- Home Tab -->
    <ion-tab title="Forside" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Menu Tab -->
    <ion-tab title="Menu" icon="ion-fork" href="#/tab/menu">
      <ion-nav-view name="tab-menu"></ion-nav-view>
    </ion-tab>

    <!-- Order Online Tab -->
    <ion-tab title="Order Online" icon="ion-ios-cart" onclick="window.open('http://mathiasholmbo.dk', '_blank')">
      <ion-nav-view name="tab-order-online"></ion-nav-view>
    </ion-tab>

    <!-- About Tab -->
    <ion-tab title="Om Os" icon="ion-ios-information" href="#/tab/about">
      <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

    <!-- Contact Tab -->
    <ion-tab title="Kontact" icon="ion-ios-email" href="#/tab/contact">
      <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>
  </div>
</ion-tabs>
